<ng-container *ngIf="nav$ | async as nav;else loading">
  <div *ngFor="let section of nav" fxLayout="column" class="nav-section" routerLinkActive="active-nav-section">
    <ng-container *ngIf="navCheck(section)">
      <button mat-button [routerLink]="section.link">
        <mat-icon class="sidenav-button-icon" [svgIcon]="section.icon"></mat-icon>
        <span>{{section.name}}</span>
      </button>
      <button *ngFor="let item of section.items" mat-button routerLinkActive="active-button" [routerLink]="item.link"
        [queryParams]="item.queryParams" [routerLinkActiveOptions]="{exact: true}">
        <mat-icon *ngIf="item.icon" class="sidenav-button-icon" [svgIcon]="item.icon"></mat-icon>
        <span>{{item.name}}</span>
      </button>
    </ng-container>
  </div>
</ng-container>
<ng-template #loading>
  <div class="fullyCenter">
    <mat-spinner color="accent"></mat-spinner>
  </div>
</ng-template>
