<div *ngIf="index !== 0" class="chevron" fxLayout="column" fxLayoutAlign="center center" [@fade]>
  <mat-icon svgIcon="chevron-down"></mat-icon>
</div>
<mat-card class="mat-elevation-z4" fxLayout="column" fxLayoutGap="16px" [@fade]>
  <ng-container *ngIf="!broke;else yaBroke">
    <h3>{{decision.header | uppercase}}</h3>
    <ng-container *ngIf="decision.options?.length > 0">
      <div class="flex-center" fxLayout="row" fxLayout.lt-sm="column" fxLayoutGap="16px">
        <app-option *ngFor="let option of decision.options" [option]="option" [active]="selected === option" (selected)="select(option)"></app-option>
      </div>
    </ng-container>
  </ng-container>
</mat-card>
<ng-template #yaBroke>
  <h3>WE'RE BROKE... LET'S EAT IN</h3>
</ng-template>
