:host {
  width: 100%;
  flex: 1 1 auto !important;
  min-height: 36px;
}

button {
  width: 100%;
  flex: 1 1 auto !important;
  min-height: 36px;
  div {
    justify-content: center;
    line-height: normal;
  }
}

.active {
  background-color: var(--color-success) !important;
}
