<div class="hangry-container" fxLayout="column">
  <h1>WHAT SHOULD WE EAT?</h1>
  <ng-container *ngIf="decisions$ | async as decisions">
    <ng-container *ngFor="let decision of decisions;let index = index;">
      <app-decision [decision]="decision" [index]="index" (special)="perform($event)"></app-decision>
    </ng-container>
  </ng-container>
  <div *ngIf="meals || restaurants" class="chevron" fxLayout="column" fxLayoutAlign="center center" [@fade]>
    <mat-icon svgIcon="chevron-down"></mat-icon>
  </div>
  <ng-container *ngIf="meals$ | async as ms">
    <mat-card *ngIf="meals" fxLayout="column" fxLayoutGap="8px" [@fade]>
      <div *ngFor="let m of ms" class="meal" [class.highlighted]="highlightedMeal === m">
        {{m.name}}
      </div>
      <div class="divider"></div>
      <button mat-raised-button color="accent" (click)="random('meal')">
        PICK FOR ME
      </button>
    </mat-card>
  </ng-container>
  <ng-container *ngIf="restaurants$ | async as rs">
    <mat-card *ngIf="restaurants" fxLayout="column" fxLayoutGap="8px" [@fade]>
      <div *ngFor="let r of rs" class="restaurant" [class.highlighted]="highlightedRestaurant === r">
        {{r.name}}
      </div>
      <div class="divider"></div>
      <button mat-raised-button color="accent" (click)="random('restaurant')">
        PICK FOR ME
      </button>
    </mat-card>
  </ng-container>
</div>
